*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(117, 8, 117);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  border: rgb(52, 41, 126) 15px solid;
  width: 80%;
  height: 80vh;
  padding: 50px;
  background-color: aqua;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 50px auto 20px auto;
}

button {
  width: 50%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color:rgb(255, 251, 252);
  border: rgba(77, 22, 22, 0.808) solid 1px;
  border-radius: 8px;
  background-color: rgb(75, 49, 1);
  display: block;
}

button:hover{
  background-color: rgb(221, 176, 92);
  color:black;
}

img {
  margin-top: 50px;
  max-width: 20vw;
}

.dice {
  margin-top: 2rem;
}

#result {
  height: 2rem;
  margin-top: 3rem;
  text-align: center;
}
